[2017-02-05 21:16] zaiste opened #1 "Grape on Rack"

[2017-04-13 15:27] zaiste opened #2 "Integrate nunjucks"

[2017-04-13 15:28] zaiste opened #3 "Integrate redirect"

[2017-04-20 06:50] zaiste opened #4 "Integrate mime types"

[2017-04-20 06:50] zaiste opened #5 "Integrate static"

[2017-04-21 19:14] #5 closed

[2017-04-21 19:15] #2 closed

[2017-04-27 13:13] zaiste opened #6 "Gzip responses"

[2017-04-29 16:58] #3 closed

[2017-04-29 16:58] zaiste opened #7 "Params in routes"
https://github.com/pillarjs/path-to-regexp

[2017-04-30 11:55] #7 closed

[2017-05-01 11:41] zaiste opened #8 "Handle query parameters"

[2017-05-01 11:41] #8 closed

[2017-05-01 11:42] zaiste opened #9 "Handle a route without `return`"

[2017-05-01 19:25] zaiste opened #10 "Prepare start page similar to Laravel"

[2017-05-02 18:54] #9 closed

[2017-05-03 13:35] zaiste opened #11 "CLI"

[2017-05-03 13:35] zaiste opened #12 "Differentate `huncwot/core`"

[2017-05-05 16:31] zaiste opened #13 "Generate systemd scripts"

[2017-05-05 16:57] #11 closed

[2017-05-05 16:57] zaiste opened #14 "CLI for server"

[2017-05-06 09:51] #6 closed

[2017-05-06 10:15] #14 closed

[2017-05-06 17:34] zaiste opened #15 "Documentation inspiration"
- [ ] https://laravel.com/docs/5.4/installation
- [ ] https://www.gatsbyjs.org/docs/

[2017-05-11 06:43] #10 closed

[2017-05-11 18:19] #4 closed

[2017-05-11 18:31] #12 closed

[2017-05-11 18:38] zaiste opened #16 "Make lasso tags more descriptive"
- [ ] `lasso-body` -> `include-javascripts`
- [ ] `lasso-head` -> `include-stylesheets`

[2017-05-11 19:01] zaiste opened #17 "Provide full CRUD JSON example"

[2017-05-11 19:01] zaiste opened #18 "Provide GraphQL example"

[2017-05-18 02:02] #16 closed

[2017-05-20 04:41] zaiste opened #19 "Update app template with REST"

[2017-05-20 04:41] zaiste opened #20 "Auto create REST API routes"

[2017-05-20 04:53] #19 closed

[2017-05-20 04:53] #20 closed

[2017-05-20 04:54] zaiste opened #21 "`new` triggers `yarn` to install dependencies"

[2017-05-20 04:56] zaiste opened #22 "README for generated app"

[2017-05-20 15:43] zaiste opened #23 "add support for yarn create"
https://yarnpkg.com/blog/2017/05/12/introducing-yarn/

[2017-05-20 16:18] #17 closed

[2017-05-25 15:50] #21 closed

[2017-05-25 15:51] zaiste opened #24 "Verify if `yarn` exists"

[2017-05-25 15:51] zaiste opened #25 "Make CLI invocation more Promise friendly"

[2017-05-28 13:05] #24 closed

[2017-05-28 13:05] zaiste opened #26 "Add colors to CLI"

[2017-05-28 13:06] zaiste opened #27 "Extract hasbin to a separate module"

[2017-06-02 19:56] #25 closed

[2017-06-02 20:14] #26 closed

[2017-06-04 17:02] #22 closed

[2017-06-15 18:16] zaiste opened #28 "Integrate helmet approach as default"
https://helmetjs.github.io
https://expressjs.com/en/advanced/best-practice-security.html

[2017-06-18 09:34] zaiste opened #29 "Add database creation to CLI"

[2017-06-18 09:35] zaiste opened #30 "Database config templating"
Database name should be inherited from the application name at `init` phase.

[2017-06-18 21:33] #29 closed

[2017-06-20 20:18] #30 closed

[2017-06-24 21:01] zaiste opened #31 "`accept` header integration"
https://apidock.com/rails/ActionController/MimeResponds/respond_to

[2017-06-26 19:35] zaiste opened #32 "add shrink-ray"
https://www.npmjs.com/package/shrink-ray

[2017-06-27 08:18] zaiste opened #33 "Add list of examples"
Similar to this: https://hyperapp.glitch.me/
https://github.com/omcljs/om/tree/master/examples

[2017-07-15 13:58] Krysol11111 opened #34 "HTML error in component crashes server"

[2017-07-16 12:14] zaiste opened #35 "view | `page` streams in production, render in development"
`page` method should use streams in production; it uses `render()` now to handle user friendly error messages

[2017-08-02 16:02] zaiste commented on #34
@Krysol11111 it should be fixed in `0.13`

[2017-08-02 16:02] #34 closed

[2017-09-07 15:54] hwclass opened #36 "Add todomvc or more complex/real-life example"
Hi @zaiste,

Firstly, I really like the idea behind this framework. If it evolves with the community around itself, we'll see interesting results for the framework in the near future, I think. Good work, @zaiste.

Maybe have an example of more complex usage of huncwot with a todo app or something would be nice. If no one is volunteer, I would be on it.

Cheers

Baris

[2017-09-07 16:03] hwclass commented on #15
Another recommendation: [https://reasonml.github.io](https://reasonml.github.io) ;)

[2017-09-07 17:32] zaiste commented on #15
@hwclass thanks!

[2017-09-07 17:35] zaiste commented on #36
@hwclass You are absolutely right, the real-life is a must-have. About 2 months ago I did a small workshop about Huncwot to non-programmers.

Here's the thing we created: https://github.com/zaiste/huncwot-stories

It's slightly outdated as I switched from Redux to MobX, but I plan to have a nice working example based on that. Any help would be appreciated!

[2017-09-08 11:07] hwclass commented on #36
I would also hope to help you, just let's align with where I may begin.. ;)

[2017-10-02 04:24] #18 closed

[2017-10-02 04:25] zaiste commented on #36
@hwclass I've just added an example of a simple todo app written using GraphQL. I'd be happy to have your feedback on it https://github.com/zaiste/huncwot-todo-graphql

[2018-02-18 05:48] seangates opened #38 "Documentation on Requirements"
Currently, I'm getting an error when attempting to use the CLI to create a new project.

Specifically, what are the requirements for my environment? What version of Node? What version of NPM?

Please update the README with this information so I can quickly understand what to install before I use `huncwot`.

[2018-02-18 05:49] seangates commented on #38
I see node 7.6+, but is there anything else?

[2018-02-18 06:50] seangates opened #40 "Unrecognized lasso tag"
Currently, I'm getting the following error after creating a new `huncwot` project from the CLI using `huncwot new <folder-name>`:

[code]

**Node version:** v8.9.3

## Steps to reproduce:
1. Create a new project using `huncwot new <folder-name>`, then `cd <folder-name>`
2. Start the new project: `huncwot server`
3. Load the page in a browser: http://localhost:5544/

[2018-02-18 20:35] zaiste commented on #40
@seangates thanks! I've just published `0.18.3`. It should resolve your issue. There was some dependency problem with `marko-path-router`

[2018-02-18 21:16] seangates commented on #40
Great! I’ll give it a shot soon.

[2018-02-19 02:17] seangates commented on #40
Tried it, but didn't work. So, I tried a couple things in the `package.json` and this seemed to do the trick:
[code]

[2018-02-21 17:07] seangates commented on #40
It worked. Sorry for the delayed response (I’ve been down with a nasty cold).

[2018-02-21 17:11] seangates commented on #40
Yeah, I'm not sure what made it fix. I can try some different combinations (once I feel better from a nasty cold).

[2018-02-24 04:05] seangates commented on #40
Okay, it works when I remove `@lasso/marko-taglib`. Things now look like:

[code]

Thanks for your help!

[2018-02-24 04:05] #40 closed

[2018-03-24 14:57] zaiste opened #41 "Add custom blocks for docs and routes"
https://vue-loader.vuejs.org/en/configurations/custom-blocks.html

[2018-04-20 15:15] zaiste opened #42 "Integrate Babel 7"

[2018-04-20 15:15] zaiste opened #43 "Integrate Vue Loader 15"

[2018-10-04 12:24] #42 closed, assigned to nobody

[2018-12-30 17:15] zaiste commented on #36
Here's another comprehensive example app that evolves along with the framework: https://github.com/zaiste/huncwot-example-app

[2018-12-30 17:15] #36 closed

[2019-05-23 20:06] s0kil commented on #32
https://www.npmjs.com/package/shrink-ray-current
Seems to be better maintained

[2019-08-08 19:00] IDONTSUDO opened #48 "Hey!"
Hi, I really like what you do. But do not like it. The fact that you do not have a normal site with documentation. Can I help you in this matter?

[2019-08-09 10:44] zaiste commented on #48
@IDONTSUDO thanks for the kind words and willingness to help. The website is almost finished and will be available soon.

[2019-08-09 10:44] #48 closed

[2019-10-15 17:54] #31 closed

[2020-02-02 16:19] lukas-runge opened #49 "File Upload - Property 'files' does not exist on type 'Request'"
Hey @zaiste!

Thank you very much for your beautiful framework! It just saved me a ton of time and helped me focus on actually building the API itself. I am using my API to upload files to the server as well and ran into this error:
![grafik](https://user-images.githubusercontent.com/21328241/73611203-ba123380-45df-11ea-8d61-19e7be05f7a4.png)
Is there a way of fixing it or should I just ignore the

[2020-02-02 18:59] zaiste commented on #49
@lukas-runge thank you! the fixes are being developed right now :)

[2020-02-02 19:02] #49 closed

[2020-02-02 19:10] zaiste commented on #49
@lukas-runge I've just released `0.52.1` that should fix the dependency issue.

[2020-02-03 00:00] lukas-runge commented on #49
@zaiste It does. 👍 Thank you very much! Keep up the great work - love your stuff! 😉😎💪

Kind regards
Lukas

[2020-02-04 02:12] inc16sec opened #50 "Having an issue trying to retrieve data from Huncwot server."
Hello there. So I've been playing around with this amazing library and everything seemed to be going so well but the it wasn't :D

So i connected huncwot with my Neo4j db and tried to fetch some data and it works well with browser but when i try to fetch call the GET request from Flutter/emulator it gives me an error.

On the Flutter DEBUG CONSOLE it prints an HTML response (which i don't know fro

[2020-02-04 10:23] zaiste commented on #50
@inc16sec Thanks for the kind words! :)

Could you try to update the Huncwot version in your `package.json` from `0.51.0` to `0.52.1`, followed by `npm install` ? It should fix it. Let me know

[2020-02-04 11:12] inc16sec commented on #50
Hello @zaiste  I have just updated my `package.json` to `0.52.1` but I still face the same issue.

Here's what I get on huncwot terminal.

<img width="625" alt="Screenshot 2020-02-04 at 12 08 30" src="https://user-images.githubusercontent.com/54755080/73739777-29566780-4747-11ea-8d28-92be48067f9b.png">

And here's what is on Flutter Debugger.

<img width="738" alt="Screenshot 2020-02-04 at 12 10 2

[2020-02-04 11:28] inc16sec commented on #50
Apologies.. It's working now. you were right about the package version. Well, apparently it looks like I didn't update the package by changing its version from `package.json` and running `npm install`. After I've run `huncwot --version` i found that I was still using the same package `0.52.0`. But after I've run `npm update -g huncwot` it did update the package and after trying it with Flutter it

[2020-02-04 15:31] zaiste commented on #50
@inc16sec No worries! It's my fault anyway :) I'm happy I could help. Please, let me know if you had other issues. I'm trying to make the Huncwot experience as simple as possible. Sometimes it's difficult for me to present the things properly. I'd appreciate your feedback.

[2020-02-04 15:31] #50 closed

[2020-02-04 16:03] inc16sec commented on #50
@zaiste  Sure thing, I'll keep working with it because so far it is the best solution I've came across. Also, do you have a "discord" or something where we can ask/look for help about huncwot ? There are a lot of things that I would like to know about but I don't think Github is the place where to put my questions.

[2020-02-05 10:20] zaiste commented on #50
@inc16sec Here's the discord: https://discordapp.com/invite/eK6HjjG On second though, I'd prefer questions as GitHub issues so that they are searchable.

[2020-02-05 15:52] lukas-runge opened #51 "running huncwot in docker container (Dockerfile)"
Hi @zaiste,

I am sorry to bother you again. I tried for hours to make it work, but I haven't found a way, even with pulling the whole ubuntu docker image and trying to install on it.

`Dockerfile:` 🔽
[code]

For context - my goal is to have two services run thru docker-compose, the huncwot api and a postgres database for the persitence layer. Maybe you have already found a successful way of makin

[2020-02-06 08:17] lukas-runge commented on #51
Hi @zaiste,

**I have found a solution!** I must confess - I did a bunch of things wrong. Here are my stupid errors so others can learn from them:

1. **Never use `node:lts-alpine`** which is obviously running on alpine **when then trying to use** debians package manager **`apt`** &rarr; so use `node:lts-slim` for example which runs on debian if you want to use `apt` to install dependencies with i

[2020-02-06 08:17] #51 closed

[2020-02-06 15:00] zaiste commented on #51
@lukas-runge this is truly a fantastic description. Thanks for doing that!

[2020-02-06 15:03] zaiste commented on #51
@lukas-runge would it be possible for you to test a minor simplification of that `Dockerfile` ?

I think we could remove this line:
[code]

and adjust the last `CMD` line, so that it looks like the following

[code]

[2020-02-07 19:21] inc16sec opened #52 "Struggling with creating a custom URL"
I'm playing with Huncwot and so far so good. I would like to ask you how can I retrieve a user's data by passing a keyword after parameters. For instance, in Twitter, if you pass a username after Twitter (Twitter.com/user) you will go to their profile page (eg; Twitter.com/Zaiste) and if you add the "followers" keyword after username it will take you to followers page and bring that user's followe

[2020-02-08 22:16] lukas-runge commented on #51
Hi @zaiste,

thank you for your compliment on my last issue comment!
I just tested your "minor" simplification, which actually made a **huge difference** for the overall length of the Dockerfile, cuz' I could actually drop some more lines of code that I only needed for the global huncwot install to work. Here is the **new Dockerfile** which still **works like a charm, but is way shorter.** 🔽
![08-

[2020-02-09 15:24] zaiste commented on #51
@lukas-runge I admire your attention to detail. Also, the way you write those issues is a joy to read. I'm happy my remark helped. Do you think we could provide an official Docker image for Huncwot, or just include the `Dockerfile` in the template, so every new generated application has it by default ?

[2020-02-09 15:39] zaiste commented on #52
@inc16sec I'm working on a solution & an explanation. I need a bit more time. I appreciate your patience.

[2020-02-09 15:49] inc16sec commented on #52
All good. Looking forward to what's to come.

[2020-02-16 15:48] zaiste commented on #52
@inc16sec I'm sorry for the delay. It took longer than expected. I've just released a version `0.53`. This release adds an ability to use the nested routes properly. I've added a new section to `routes.ts` called `Resources`. This part configures how to exposes resources from the application features. Here's an example:

[code]

Such setup will make the following routes:

*For collections:*

* `GE

[2020-02-16 15:48] #52 closed

[2020-02-17 16:05] inc16sec commented on #52
I'm sorry but I didn't know how to actually call Resources section in `routes.ts`, by `routes.ts` do you mean the one in `config/server`  ?

[2020-02-17 22:29] inc16sec commented on #52
After updating the package to version `0.53.0` and when I try to start the server with `huncwot server` or create a new project with `huncwot new "project name"` I get this error.

`internal/modules/cjs/loader.js:983
  throw err;
  ^

Error: Cannot find module '@zerollup/ts-transform-paths'
Require stack:
- /usr/local/lib/node_modules/huncwot/cli/server.js
- /usr/local/lib/node_modules/huncwot/cli

[2020-02-18 09:52] zaiste commented on #52
@inc16sec I'm sorry for the trouble, I've messed up some dependencies. Could you try `0.53.1` ? This version should fix it.

[2020-02-18 17:19] inc16sec commented on #52
@zaiste `0.53.1` seems to be working just fine. But still, I don't know how to work with the `Resources []` section.  I've tried to look at `routes.ts` file in `config/server` I don't know if that's the right place where I should be looking.

[2020-02-18 18:11] zaiste commented on #52
@inc16sec My mistake, I've missed your question. It's exactly that. Here's an example of `routes.ts` from `config/server`:

[code]

[2020-02-18 19:12] inc16sec commented on #52
@zaiste Got it.
One thing though. How to pass the params to `browse.ts` of the child.. Let's say i want to pass the `user Id` to get that user's followers.

P.S. I like how requests return a response that shows you what you're missing `(eg; You need to create 'features/Followers/Controller/browse.js')`.. it is very helpful.

[2020-02-19 14:22] zaiste commented on #52
@inc16sec Let's imagine the following URL `/users/zaiste/followers`, where `zaiste` is a dynamic segment. You need two controllers to handle that `User` and `Follower`.

The URL should be handled by a *collection* route, i.e. you should use `browse.ts` of the `Follower` controller, and not `fetch.ts`.

Since the resources are nested, there is an implicit `:id` segment added by Huncwot for convenie

[2020-02-19 15:55] inc16sec commented on #52
@zaiste Wonderful. It works like charm.. I've tried both `Followers` and `Following` as children and they both seem to work seamlessly. I'll go now and play more with huncwot, but i'll be back soon  😄, next we'll discuss security and authentication ;) 👍.

Thank you so much for making time to help and reply, as someone in need of help, I appreciate it with my life.

[2020-02-20 10:22] zaiste commented on #52
@inc16sec Perfect! I'm glad it helped. Thanks for taking time to explore this tool. Your questions help me fill the gaps in the structure and in the docs. I appreciate it a lot.

Also, this project is still work in progress. Certain things need polishing. It's not yet ideal, but I hope it'll be perfect one day. ;) Even if you have minor questions, feel free to post them here.

[2020-02-26 00:30] inc16sec commented on #52
@zaiste Where can I find the Argon2 package and how to use it?

_ Also is it possible to work with Kerberos in Huncwot?. I'm looking into using it for Authentication with Neo4j.

[2020-02-26 23:38] hasparus opened #54 "Locked huncwot version in template package.json"
Should this be locked?
https://github.com/huncwotjs/huncwot/blob/7b5c9553cbdc361d3399a3a1a3501f6f8f39819a/template/base/package.json#L7

I have installed huncwot globally today. My version is 0.53.1.
[code]

Yet, the project I have just initialized with `huncwot new` has version 0.53.0 locked.
I just tried to start a PR to move @zerollup/ts-transform-paths to dependencies 😅

[2020-02-26 23:43] hasparus commented on #54
Yup, it generates new project with the previous version.
Shoud the version in template/package.json be updated by in a prerelease step?
(Regardless if it's locked or not)

[code]

[2020-02-27 07:20] zaiste commented on #54
@hasparus Yes! That's an excellent catch

I also wonder about this `js-yaml` dependency. I didn't have that. I believe it should be included in Huncwot as well. It seems I have it installed globally here.

[2020-02-28 15:44] hasparus commented on #54
Are you open for contributions (i.e. node oneliner in package.json prepublish script) on this?
I'd also add CONTRIBUTING.md we've spoken about in https://github.com/huncwotjs/huncwot/pull/55.

[2020-02-28 18:11] zaiste commented on #54
@hasparus Yes, absolutely for both!

[2020-03-03 10:06] #54 closed

[2020-03-09 00:48] inc16sec opened #59 "Trying to work with GraphQl"
Hello there.. so as always I'm still playing with the amazing Huncwot and this time it was with GraphQl.. although I wasn't able to achieve much with it. First, let us start with this code.

[code]

Starting by GraphQl
_how can I import it with Huncwot ?
_and how can I initialize the Server (ApolloServer / Huncwot server) with context and schema in it?

So basically these lines of code are what st

[2020-03-09 08:12] emilos opened #60 "yarn dependency"
Just a quick question, does it still make sense to use yarn? npm got better over the years. Or maybe that's just an error in the docs?

[code]

[2020-03-09 08:24] emilos opened #61 "npm run lint"
It would be nice to have a `npm run lint` script in package.json that would let you to use the default linter/prettifier. Right now it's not obvious how to run it.

[2020-03-09 10:35] zaiste commented on #60
@emilos Yes, that's an error in the docs. I've came to the same conclusion and removed `yarn` at some point in the past. `npm` is good enough and there is less moving parts.

[2020-03-09 10:38] zaiste commented on #60
@emilos fixed in d0747c4d2a57cb3f1fc9342374f8f370f813dff3

[2020-03-09 10:38] #60 closed

[2020-03-10 08:20] emilos commented on #23
Yarn is not used anymore, so I guess this task can be closed?

[2020-03-10 08:38] zaiste commented on #23
@emilos Absolutely! I need to review all those issues. They are pretty old :)

[2020-03-10 08:38] #23 closed

[2020-03-10 08:47] emilos commented on #28
I had a look at this one, and it's not that easy to implement it given helmet is for express/connect apps, and this one seems to have a different approach.

There's an easier way of just setting few headers:

[code]

CSP is a harder topic:

[code]

Definitely not ideal, but gives some basic security easily.

[2020-03-10 09:10] emilos opened #64 "MacOS support"
Does the framework require any other os specific deps to work?

[code]

[2020-03-10 09:25] emilos commented on #64
Ok, I figured out it... had to reinstall xscode and node-gyp

[2020-03-10 09:25] #64 closed

[2020-03-10 09:27] emilos opened #65 "npm package broken"
The current version in npm seems to be broken:

The issue seems to be fixed in the meantime, do you mind publishing a new one?

It might be a good idea to add some basic local specs and set up a linter (like standard.js) to avoid issues like this.

I'd be happy to help if those ideas make sense to you.

[code]

[2020-03-10 11:00] zaiste commented on #65
@emilos I'm sorry for the trouble! I've just released a `0.55.0`. Would it solve the problem on your side?

I absolutely agree with adding specs and linter. I'll dive into this tonight. By the way, we could have a call in the afternoon if you're available.

[2020-03-10 11:03] zaiste commented on #28
@emilos Yes, I'd prefer we take a «good enough» approach. Often it's too easy and time consuming to try to come up with the ideal solution. In `README` we should state potential shortcomings.

By the way, in Huncwot it's possible to reuse Express/Connect middlewares, but I'd prefer to integrate them directly into our core than using it as a dependency. I know it's an extreme approach, but long ter

[2020-03-10 11:05] zaiste commented on #64
@emilos there is also this strange thing with `node-gyp` that happens for some people. I've documented it [here](https://github.com/huncwotjs/huncwot#troubleshooting). I'm not sure if it was related.

[2020-03-10 11:40] emilos commented on #65
Thanks, works now! Having some other issues, but they seem unrelated to this one, so closing.

[2020-03-10 11:40] #65 closed

[2020-03-10 11:48] emilos opened #66 "How to set up the db?"
Does the lib require anything related to postgres to be set up, like a config file? (similar to rails)

[code]

[2020-03-10 17:51] zaiste commented on #66
@emilos could you try `huncwot server` or `hc server` ? The `start` command is deprecated as I'm working on a tight integration with VS Code. Do you happen to use this editor ?

with `hc server` you should get a following screen if there is no PostgreSQL instance running

<img width="890" alt="Screen Shot 2020-03-10 at 18 48 52" src="https://user-images.githubusercontent.com/200613/76343159-01d35b

[2020-03-10 19:27] emilos commented on #66
Thanks, that's more helpful, I get the following error message here:

[code]

The yaml file seems to be valid though (I've double checked in a yaml validator).

[code]

Any ideas?

[2020-03-10 19:33] zaiste commented on #66
@emilos Would it be possible if you (temporarily) install `js-yaml` globally? Just to see if it solves the issue

[code]

[2020-03-10 19:39] emilos commented on #66
@zaiste bingo, thanks!

[2020-03-10 19:39] #66 closed

[2020-03-10 19:53] zaiste commented on #66
For future references, the YAML issue is related to [this](https://github.com/lorenwest/node-config/issues/537).

[2020-03-10 19:54] emilos opened #67 "README is a bit outdated"
Trying to play with the app a bit by going through the README, I've noticed that:

[code]

is no longer valid - HTMLPage is not exported. `Page` or `HTMLString` is exported though.

[2020-03-10 20:02] emilos commented on #66
Maybe it makes sense to simplify this and just have a `json` or `js` file that does the same? I do understand the desire to use the lovely yaml syntax, but maybe it does not sense to have it out of the box? Less deps, less things to worry about etc.

I do use it in the engine though too, considering to move it to a separate package though... not sure what's the best approach :)

[2020-03-10 20:17] zaiste commented on #67
@emilos it should be just fixed.

[2020-03-10 20:17] #67 closed

[2020-03-10 20:20] zaiste commented on #66
I relate to this sentiment, but I would it keep it as-is for now and decide about it later. In the future we could just have a visual panel in VS Code and simply use `json` underneath.

[2020-03-10 22:07] emilos commented on #61
Step 1: install

[code]

Step 2: add lint to package.json (scripts section)

[code]

Step 3: autofixes

[code]

Step 4: manual fixes

[2020-03-11 10:32] zaiste commented on #61
@emilos I've just realized I've configured here `eslint` with `eslint:recommended`. Would that be enough for starters ?

[2020-03-11 10:33] emilos commented on #61
anything works for now I guess

[2020-03-11 19:16] zaiste commented on #61
@emilos I've improved the current ESLint configuration along with Prettier, but for some strange reason the `singleQuote` option is not being taken account. The `explainer.js` line `20` is a good example of that. I'm not sure how to resolve it.

[2020-03-11 20:19] emilos commented on #61
@zaiste I'm not sure, it's probably not worth investigating now :) I'll just close this given it's much better now

[2020-03-11 20:19] #61 closed

[2020-03-11 22:20] emilos opened #72 "Precompile templates in production"
## Context

For best performance, templates need to be cached.

## Steps

- [x] complete https://github.com/buxlabs/pure-engine/issues/570
- [x] update the engine (at least `v0.16.0`
- [x] figure out where to place the code
- [x] add a precompilation step
  - [x] only when server starts
  - [x] only in production mode
  - [x] find all `.html` files and precompile them

[2020-03-13 19:33] emilos opened #75 "Built-in email support?"
Many apps, especially monolithic, do need a library for sending e-mails.

Have you considered having something like `nodemailer` as a part of the core?

[2020-03-13 19:36] emilos opened #76 "Seeding the database?"
Have you considered having a convention for seeding the database? Something like `npm run db:seed` would be pretty useful. It could iterate over files in some directory (or one file only for simplicity), clear the db and seed it with new data.

[2020-03-13 19:50] emilos opened #77 "Adding conventions for loading environment variables?"
A common issue with deploying the app is ensuring that everything works. Sometimes you end up seeing that something is not working due to misconfiguration/ missing env variables.

Some time ago I wrote this: https://github.com/buxlabs/envb to make it a bit easier to control env variables.

It has a simple API:
- `env.fetch('SOME_ENV_VAR')` throws if the variable is missing
- `env.get('SOME_ENV_VAR

[2020-03-13 20:19] emilos opened #78 "Is it possible to add custom middlewares?"
Let's assume that I'd like to add a custom middleware, something similar to:

[code]

It's not ideal, because it's mutating the request, but at least easy to use and you wouldn't need to check the language everywhere.

Any thoughts?

[2020-03-13 20:59] zaiste commented on #78
@emilos Handlers allow for functional composition. Here's [a good example](https://github.com/huncwotjs/huncwot#reusable-workflows-through-the-function-composition) of that. You can combine multipe functionalities and pass it as **array** in a particular route.

Or, you can use the `.use` API and add a global middleware. There is a built in `serve` and `security` middleware.

I'm not sure if that

[2020-03-13 21:02] zaiste commented on #77
@emilos I like this idea! In which scenerios you would use the method that does not throw? Maybe we should force throwing, so it's explicit and easier to discover for users ?

[2020-03-13 21:04] zaiste commented on #76
@emilos Yes! Ideally, I'd like to store the seed data as plain SQL (`insert`s, `update`s, etc), but at the same I'd like there is a sort of visual UI build on top of VS Code so that you could set this data conveniently without bothering about the SQL syntax. What do you think ?

[2020-03-13 21:10] emilos commented on #76
The approach makes sense, I guess it's good enough for simple data.

For more complex scenarios it would be nice to allow importing models and seed the db by using them. This way you can easily have fake data, loops and other utilities which are not that easy in plain sql.

[2020-03-13 21:13] emilos commented on #77
Some environment variables are not necessary for the app to work, e.g. `env.get('SESSION_TIMEOUT') || 10`.

Some are, e.g. `env.fetch('EXTERNAL_SERVICE_URL')`.

It might make sense to always require them, not sure what's the right balance here.

[2020-03-13 21:14] emilos commented on #78
Thanks, it does! I'll leave this open for now, will add some docs about being able to use `.use`

[2020-03-18 22:18] emilos commented on #78
I've pushed a PR https://github.com/huncwotjs/huncwot/pull/79. I was able to add a middleware inside of the library itself, but how can I do it inside of the app?

As far as I've investigated `huncwot new` creates a new app. The new app runs `huncwot server` which creates `new Huncwot` instance. It seems there is no access to the app instance, so I cannot add a middleware. Am I missing anything?

[2020-03-19 20:42] emilos opened #81 "Basic benchmarks"
## Context

Huncwot should not only be easy to use, but also provide better performance (out of the box) than express and other solutions.

## Acceptance criteria

- [ ] `npm run benchmark` script in package.json
- [ ] install benchmark.js
- [ ] install express as a dev dep
- [ ] use ava
- [ ] compare huncwot and express
- [ ] check other benchmarks and add a basic test case

We can consider addin

[2020-03-19 21:02] emilos opened #82 "Feature tests"
## Context

Big apps need specs. We should definitely have a built-in way to add specs so that the user doesn't need to set it up on his/her own.

## Acceptance criteria

- [ ] tests can be run in parallel
- [ ] puppeteer?
- [ ] start/stop server in every spec on a random port

e.g. maybe something like:

[code]

[2020-03-19 21:17] emilos opened #83 "Add docs that explain how to migrate an express app to huncwot"
## Context

It'd be helpful to describe possible migrations paths.

One idea:

[code]

Not ideal for performance for sure, but it should make it easier to migrate apps step by step

[2020-03-19 21:46] zaiste commented on #82
@emilos That's great idea. I wanted to use [playwright](https://github.com/microsoft/playwright) for hits

[2020-04-02 00:27] kalaikt opened #88 "Just installed and trying to start the server getting error."
Error connect ECONNREFUSED 127.0.0.1:5432
  Explanation
  It looks like you haven't started your database server.

  Stack trace
  - TCPConnectWrap.afterConnect [as oncomplete]
    net.js:1137

[2020-04-02 08:56] zaiste commented on #88
@kalaikt You need to start a PostgreSQL instance. I should've been more clear in the docs. I'm working on it.

[2020-04-02 16:49] kalaikt commented on #88
thanks, where to update the DB username and password?
 Error password authentication failed for user "root"
  Explanation
  (missing)

[2020-04-02 16:52] zaiste commented on #88
@kalaikt You can specify your DB connection settings in `config/default.yml`.

[2020-04-02 17:18] kalaikt commented on #88
yes, I have updated those but still throws below error, do you have any sample file.

Error password authentication failed for user "root"
Explanation
(missing)

[2020-04-03 11:08] zaiste commented on #88
@kalaikt Could you try connecting with `psql` using the same credentials ?

[2020-04-03 15:36] kalaikt commented on #88
`psql` working

[2020-04-03 15:41] zaiste commented on #88
@kalaikt can you share your `psql` command along with the content of your `default.yml` ?

[2020-04-03 17:06] kalaikt commented on #88
psql
-----

Server [localhost]:
Database [postgres]:
Port [5432]:
Username [postgres]:
Password for user postgres:
psql (12.2)
Type "help" for help.

postgres=# SELECT VERSION();
                                                          version
----------------------------------------------------------------------------------------------------------------------------
 PostgreSQL 12.2 on x86_64-app

[2020-04-04 12:03] zaiste commented on #88
@kalaikt did it work?

[2020-04-04 16:02] kalaikt commented on #88
no its not working. let me try in windows machine and let you know. Thanks for your response.

[2020-04-12 10:18] zeny opened #90 "Error after create controller"
TypeError: Cannot destructure property 'method' of 'translate(...)' as it is undefined.
    at new Huncwot (/usr/lib/node_modules/huncwot/index.js:111:17)
    at start (/usr/lib/node_modules/huncwot/cli/server.js:53:15)
    at /usr/lib/node_modules/huncwot/cli/server.js:119:17
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async Promise.all (index 0)

[2020-04-12 13:11] zaiste commented on #90
@zeny could you paste your controller code ?

[2020-04-12 14:51] zeny commented on #90
@zaiste This my code

import {Created} from "huncwot/response";
import EventRepository from "../Repository";
import { Handler } from "huncwot";

const create: Handler = ({params}) =>{
      const {name, location} = params;
      const event = EventRepository.create(name,location);

      return Created(event);
    }

    export = create;

[2020-04-12 19:19] zaiste commented on #90
@zeny it looks like you made a typo in the filename. Could you double check your file name is `create.ts` ?

[2020-04-12 21:17] zeny commented on #90
I was created but with Capital C "Create.ts", I have changed it to "create.ts" no issue occurs.

and I  have HTTP/1.1 404 Not Found after call API

[2020-04-12 21:51] zeny commented on #90
Hello @zaiste issue solved after remove 'Event' folder from /dist/features then rerun the application again.

Thanks for this nice solution

[2020-04-14 05:40] zaiste commented on #90
@zeny I'm glad it helped! Please let me know if you had other issues along the way. There are still rough edges in this project.

[2020-04-14 05:40] #90 closed

[2020-04-14 07:07] emilos commented on #90
@zaiste I think error handling could be improved based on this, e.g. the user could be notified in the console that he has created a file with an incorrect name

[2020-04-18 15:21] zaiste commented on #88
@kalaikt please re-open the issue if you still have the problem

[2020-04-18 15:21] #88 closed

[2020-05-04 03:44] ChrisMichaelPerezSantiago opened #91 "Unable to Start the Server"
**Platform**: windows 10
**Node**: v14.1.0

After creating the project with Kretes I have launched the task server and it has shown me the following error

**Error**

[code]

I have verified in the path `node_modules\huncwot\cli.js` and it contains this code.
[code]

Also try using the huncwot library but it shows me the following error. I do not understand why it shows me that error since my proj

[2020-05-04 10:45] zaiste commented on #91
@ChrisMichaelPerezSantiago Thanks for checking the project and sorry for those issues. In most cases, it's my fault trying to put too many features in too fast ;)

I suspect what may be wrong, just to verify, do you have the most recent version of Kretes i.e. `0.62.1` ? This could be confirmed with `kretes --version`

[2020-05-04 13:54] ChrisMichaelPerezSantiago commented on #91
Hi @zaiste ,

Show me the following

[code]

I even tried to build the project with Huncwot but it shows me the following error

[code]

[2020-05-04 14:05] zaiste commented on #91
@ChrisMichaelPerezSantiago could you try the following command:

[code]

and then to generate a new project

[code]

In your error message, it looks like you created a project called `UserscDesktopjustwatch` inside the `justwatch` directory on your Desktop. Is that right ?

[2020-05-04 14:11] ChrisMichaelPerezSantiago commented on #91
I hadn't realized that the package had to be installed ...
But still it shows me the following error.

[code]

[2020-05-04 14:17] zaiste commented on #91
@ChrisMichaelPerezSantiago No worries, it's my fault not being clear in the docs. I'm happy we can go through this to figure out the rough edges.

Could you check if you can run the `npm` command in your terminal ? I wonder if it's related to different paths on Win.

[2020-05-04 14:20] ChrisMichaelPerezSantiago commented on #91
Yes No problem,

Here the information

[code]

[2020-05-04 14:21] zaiste commented on #91
@ChrisMichaelPerezSantiago could you manually run `npm install` in this newly generated directory ?

[2020-05-04 14:26] ChrisMichaelPerezSantiago commented on #91
Yeah that's right ,

It generates the node_modules

[2020-05-04 14:38] zaiste commented on #91
@ChrisMichaelPerezSantiago could you try:

[code]

inside your project directory ?

[2020-05-04 14:40] ChrisMichaelPerezSantiago commented on #91
@zaiste

Yes, run `kretes server`

From what I can see, the problem is related to the path.
If you see the same path twice, but without the '/'.

[code]

What I initially did was being on the Desktop I generated the project with `kretes new justwatch`

[2020-05-04 16:12] zaiste commented on #91
@ChrisMichaelPerezSantiago I don't have a Win at the moment, but I'll test it tonight. It's something with paths indeed.

[2020-05-11 21:42] #72 closed

[2020-06-06 11:15] rowild opened #96 ""Could not find a type declaration for kretes""
Hi, Zaiste!

I am eager to get into Typescript and follow along your latest courses on Youtube. Unfortunately the entry barrier is quite a bit high.

The first thing that must be done is installing postgresql and create a db of the same name as the project, right? That does not seem to be mentioned anywhere, at least not in the right place (haven't read through the whole docu yet, but it is certai

[2020-06-09 14:21] zaiste commented on #96
Hi @rowild thanks for considering my course! Let's go over everything together. My docs are, indeed, far from perfect and there are a few rough edges. Hopefully the eventual closing of this issue will lower the bar for everyone.

Regarding your points:
1. Yes, you are absolutely right. It's a bad omission on my side. I'll correct it now.
2. Could you tell me the Kretes version you're using ? I've

[2020-06-09 15:49] zaiste commented on #96
@rowild I've improved a bit the docs regarding the database setup. It's [here](https://kretes.dev/docs/quick-start/creating-new-application/). Could you take a look at let me know if it's better ?

[2020-06-09 21:25] rowild commented on #96
@zaiste Thank you for your feedback! Please - pleasepleaseplease - do not apologize!!!!!!!!!!!! I am so grateful for your tutorials! And I know that `kretes` is still in alpha, so breaking changes are to be expected.

Thank you for the extended docu! I read through it and here is my feedback:

1. The table of folders is actually longer, there is also
`config/loaders`
`config/graphql`
`config/css..

[2020-06-10 09:37] zaiste commented on #96
Thanks for your understanding. The Internet is a strange place sometimes. I know that many people starting their programming adventure would prefer to have clear answers, but I don't want to oversell too much. I appreciate your words of support in this journey. We'll get there!

Ad 1. This is a low hanging fruit. I've had various ideas what should be included and what not. I'm still experimenting

[2020-06-23 20:34] rowild commented on #96
Jakub - sorry that I didn't write in such a long time! I had to change the "battlefield" and will not be able to follow along with your fantastic courses for a while. But I keep bookmarking and as soon as I am finished with the other projects I'll be back!

[2020-06-24 11:39] zaiste commented on #96
@rowild No worries! Good luck with everything! I'll keep this issue open for a while and at some point close it when the docs are good enough. :)

[2020-07-07 04:09] 3rly opened #97 "Error: exit code 1"
I don't know if this error is a result of the many deprecated files that Kretes currently imports, but I cannot find any way around fixing this bug. Please review and advise. Thank you for your assistance.

![image](https://user-images.githubusercontent.com/55966724/86707511-083fbe80-bfe6-11ea-892c-d48052e45970.png)

[2020-07-07 18:07] zaiste commented on #97
@3rly Sorry for the trouble. I'm trying to test it in different scenarios, but some edge cases evade me. I'm looking into it.

[2020-07-07 18:11] zaiste commented on #97
@3rly just to be sure, could you confirm you have (1) run `npm install` in the project directory, or (2) used `Kretes: Install` if in VS Code), or (3) used `kretes new` without the `--no-npm-install` flag before starting the app ?

[2020-07-07 21:53] 3rly commented on #97
@zaiste I attempted all (3) of the scenarios in my attempts to debug and get it running, except the last one. Therefore. let me attempt the last suggestion and I will let you know. Thank you for your assistance.

[2020-07-17 19:14] marcociciriello commented on #97
@zaiste I'm currently experiencing the same issue - I've performed each of the three steps mentioned in your previous comment (including from a fresh npm install) and the issue is persisting.
![image](https://user-images.githubusercontent.com/40694097/87822846-20c39a80-c86a-11ea-8369-8512184026e5.png)

[2020-07-21 00:24] 3rly commented on #97
@zaiste To follow up on this issue. My resolution might not be ideal but it luckily coincided with decision to migrate my entire dev setup from Arch to NixOS. Thank you for your assistance and please let me know if I can be of assistance in your project.

[2020-07-21 09:56] zaiste commented on #97
@marcociciriello There are some issues with properly managing background processes. I'm investigating how to do it properly and cleanly in Node.js.

Could you run the following command

[code]

and provide a result here?

[2020-08-11 17:10] zaiste commented on #97
I'm closing it as `stale`. Please let me know it the same error occurs in the newest version i.e. `0.69.0`.

[2020-08-11 17:10] #97 closed

[2020-09-01 09:53] tomkuk opened #99 "Feature test"

[2020-09-01 09:53] #99 closed

[2020-09-05 23:29] MuzickMan80 commented on #88
Hello, I am also seeing this issue.  I have tried modifying the default.yml file as above, however it seems to ignore the username specified in the config/default.yml file and instead uses my windows username.

[2020-09-29 16:45] zaiste opened #102 "UI Panel for Database Managment"

[2020-09-30 15:53] zaiste opened #103 "Built-in Admin similar to Django"

[2020-10-08 14:40] michaelKurowski opened #104 "Kretes plugin unable to create project"
Kretes VSC plugin stops at 50-60% progress during the "Kretes: new project" task and outputs no information.

**Plugin version:** v0.0.1 (latest published on VSC market)

**Tested on:**
[code]
[code]

Windows 10

**Expected behaviour:** preferably letting the task finish, or at least output progress while the task is running, so the user has bigger clue than just a progress bar that freezed on wha

[2020-10-08 15:07] michaelKurowski opened #105 "Unable to start project on Ubuntu with CLI 0.71.0"
**OS:**
The issue has been reproduced in 2 environments:
[code]
[code]

**Kretes version:** 0.71.0

I and my teammate were unable to create a project using CLI.

Reproduction:
1. During creating new project:
[code]
The error can be then fixed by setting up all LC_ variables, but they have to be set.
Expected behaviour: Kretes shouldn't assume these variables are filled, since problem occured on 2

[2020-10-13 15:16] michaelKurowski opened #106 "Kretes CLI commands passes if user types invalid command"
Kretes v.0.70.0, CLI
OS: Windows 10 (WSL2)

 CLI command passes silently if the user mistypes the command - it throws no output at all, just passes.

[2020-10-13 20:17] zaiste commented on #106
@michaelKurowski this is fixed in https://github.com/kreteshq/kretes/commit/c5178dcf680364de8ee53ed3b804baeccbe50349

I haven't tested the tool extensively on Win. There may be issues :) I'm working on it. Feel free if you stumble on something.

[2020-10-13 20:17] #106 closed

[2020-10-14 08:04] zaiste commented on #105
@michaelKurowski thanks for these precise remarks!

1 - it's fixed in `0.72.1`. This should also fix 2. I need more time to verify this.

In 5 it seems you are running a Nix shell inside an existing shell. Could you just type `pg_ctl start` ?

[2020-10-14 11:29] zaiste commented on #105
@michaelKurowski version `0.72.3` should resolve all the issues you mentioned. Let me know if that's not the case.

[2020-10-14 11:29] #105 closed

[2020-10-16 11:27] michaelKurowski commented on #105
I believe I weren't, I were running it from my base, OS shell, not within nix shell. @zaiste

[2020-10-16 11:43] michaelKurowski opened #107 "Postgres config generates config that it later cannot handle on Ubuntu"
**Kretes CLI**: 0.71.0
**OS**: Ubuntu 18.04.4 LTS

**Problem**:
`kretes start` ceased to work out of the sudden. After debugging it came out that `nix-shell --run 'pg_ctl restart'` that's being run underneath fails.
Running the command manually outputs:

[code]

Above variables are being generated by kretes CLI, and written to
`kretes_demo/db/content/postgresql.conf`, which is later being read by

[2020-10-16 13:58] michaelKurowski opened #108 "kretes_1.database is not a function"
Kretes: 0.71
OS: Ubuntu 18.04.4 LTS

Using database as in [documentation](https://kretes.dev/docs/guide/in-depth/database/), throws an error:
![image](https://user-images.githubusercontent.com/2772942/96267627-52aedf00-0fc8-11eb-84d5-a04b98827bd6.png)

As `database` exported member from kretes is not recognized as a function, so passing template literals to it doesn't work.

[2020-10-16 14:10] daksamit opened #109 "Property 'returning' does not exist on type SQW"
Kretes: 0.71
OS: Ubuntu 20.04 LTS

According to [documentation](https://kretes.dev/docs/guide/in-depth/database/)
example with returning function underlines eslint rule: "Property 'returning' does not exist on type SQW"
![image](https://user-images.githubusercontent.com/7165997/96268401-51ca7d00-0fc9-11eb-9eb7-6ab424a566b4.png)

It seems to be related to #108

[2020-10-16 15:34] daksamit opened #110 "Background processing does not work as described in docs"
Kretes: 0.71
OS: Ubuntu 20.04 LTS

According to: https://kretes.dev/docs/guide/in-depth/background-processing/

I created example task in tasks/SendEmail.ts and run `kretes background` in nix-shell

1. By default it listens on postgresql default port instead 5454
[code]
`export PGPORT=5454` solves this problem but

2. Kretes is looking for tasks in dist/tasks directory instead of tasks
[code]

I c

[2020-10-16 15:41] daksamit commented on #110
Ad. 2
It looks like when looking for jobs, crashes after time.
Also when I tried to run `ks bg schedule SendEmail '{ "to": "admin@example.com" }'` while looking for jobs, it does nothing.

[2020-10-16 15:43] zaiste commented on #107
@michaelKurowski would you mind updating to `0.72.3` ?

[2020-10-16 15:48] michaelKurowski opened #111 "sqltools configured, but not defined as extension"
Sqltools has defined config in `.vscode/settings.json`, but the extension isn't defined in `extensions.json`

[2020-10-16 15:55] zaiste commented on #109
@daksamit Just to confirm, is the query executing correctly ? Sometimes I've seen errors in VS Code, with code running OK. Is the VS Code correctly picking up TypeScript `4.x` ?

[2020-10-16 15:59] daksamit commented on #109
No, unfortunately, I have the same problem as described here #108

[2020-10-16 16:02] zaiste commented on #110
@daksamit could you show me your `config/default.json` ?

[2020-10-16 16:07] daksamit commented on #110
[code]

I assume it's related to `deploy.src` ?

[2020-10-16 16:13] zaiste commented on #110
Thanks! It looks good. Could you show me your `default.nix` ? Also, once you are in project directory, could you do

[code]

There is **no** need to explicitly run `nix-shell`. You should however do `direnv allow` when you do `cd <your-project` for the first time.

[2020-10-16 16:18] daksamit commented on #110
default.nix
[code]
and I have empty output running echo $PGPORT

[2020-10-16 16:27] zaiste commented on #110
Thanks for doing that. Something is wrong indeed. I'm investigating. Here's how I run a project on my end. Could you confirm you're doing roughly the same steps ?

![2020-10-16 18 23 07](https://user-images.githubusercontent.com/200613/96283861-176adb00-0fdd-11eb-92f1-75d46169f2c8.gif)

[2020-10-16 16:29] zaiste commented on #108
@michaelKurowski could you run `pgcli` as shown in this video and show me your results when executing the `\d` command ?

![2020-10-16 18 23 07](https://user-images.githubusercontent.com/200613/96284154-7cbecc00-0fdd-11eb-94fe-2157a6e16028.gif)

[2020-10-16 16:45] michaelKurowski commented on #108
[code]

[2020-10-16 16:51] zaiste commented on #110
@daksamit that's my fault. The docs are not OK. I'll fix them. Could you do

[code]

and then add

[code]

at the end of your `.bashrc` followed by

[code]

?

[2020-10-16 21:00] zaiste commented on #108
@michaelKurowski in `pgcli` could you run

[code]

and then try to trigger the `browse` route again ?

[2020-10-17 10:24] zaiste commented on #111
Fixed in e17353ff9a2b80adb51bc241cf8feeb77ff92a80

[2020-10-17 10:24] #111 closed

[2020-10-17 15:46] zaiste commented on #110
@daksamit

- [x] missing comma FIXED
- [x] Edit in GitHub button FIXED
- [x] `tasks/` directory handling FIXED
- [x] more explicit docs ADDED

Please update Kretes to `0.73.0`

[2020-10-17 15:46] #110 closed

[2020-10-17 16:00] zaiste commented on #108
@michaelKurowski I've updated [the docs](https://kretes.dev/docs/guide/in-depth/database/). Feel free to reopen if the error doesn't go away on your side.

[2020-10-17 16:00] #108 closed

[2020-10-17 16:03] zaiste commented on #109
@daksamit I've updated [the docs](https://kretes.dev/docs/guide/in-depth/database/) for that part. The previous version of docs *assumed* that the database tables are created by the user. `widgets` was just a placeholder to show the general idea. I've improved that. Let me know if it solves that.

[2020-10-17 16:03] #109 closed

[2020-10-17 16:03] zaiste commented on #107
@michaelKurowski This should be resolved. Please reopen if the errors persists on your side

[2020-10-17 16:03] #107 closed

[2020-12-08 06:51] brandon-fryslie opened #113 "'kretes new' command fails on fresh install"
I'm running MacOS Mojave 10.14.6.  NodeJS v14.15.1.

Creating a new project with a fresh install of Kretes causes this error:
[code]

Steps to reproduce:
Run `kretes new project_name` with fresh kretes install via `npm install -g kretes`.

Expected behavior:
Project scaffolding would be created

Actual behavior:
The program crashed and did not create the scaffolding

[2021-01-06 17:48] FDiskas commented on #77
I would suggest https://github.com/motdotla/dotenv
it is way more popular and extendable. create react app and other are using it

[2021-01-06 18:03] FDiskas opened #114 "Dependency updates needed"
Hi,
installing `npm install -g kretes` we got allot warning about deprecated or packages with security issues

```kretes@0.79.0```

[code]

[2021-01-06 18:11] FDiskas commented on #113
Also getting some issues starting a new project
[code]

[2021-01-06 18:26] FDiskas commented on #113
In my case the issue is node v12

[2021-01-06 19:10] FDiskas commented on #113
Its funny - actually your CI was failing also https://github.com/kreteshq/kretes/pull/112/checks#step:6:50
This is a good question why nobody was warned about it

[2021-01-06 19:20] FDiskas commented on #88
I would like this to be already present with some defaults. As a new joiner - I also started and got error.
[code]
![image](https://user-images.githubusercontent.com/468006/103811054-f73f3b00-5064-11eb-8699-d0e92b6a7a12.png)

[2021-01-11 16:28] zaiste commented on #114
@FDiskas I'm checking it. Would you mind upgrading to `0.81` and see if it solves the issue?

[2021-01-12 13:49] zaiste commented on #113
@brandon-fryslie @FDiskas this should be fixed now. Feel free to let me know otherwise.

For the CI there was a breaking update in PNPM that I missed. It's OK now.

[2021-01-12 13:49] #113 closed

[2021-01-13 14:16] zaiste commented on #114
@FDiskas `0.84` removes the warnings about deprecated packages and security issues. There are still few warnings but related to peer dependencies and Node version.

[2021-01-13 14:16] #114 closed

[2021-02-20 14:08] zaiste commented on #103
test

[2021-02-20 14:09] zaiste commented on #103
szdf

[2021-02-20 14:16] zaiste commented on #103
asdf

[2021-02-20 14:17] zaiste commented on #103
asdf

[2021-02-20 14:21] zaiste opened #117 "This GitHub issue has 0 comments and 0 reactions"

[2021-02-20 14:46] zaiste commented on #117
adsf

[2021-02-20 14:47] zaiste commented on #117
asdf

[2021-02-20 14:47] zaiste commented on #117
asdf

[2021-02-20 14:48] zaiste commented on #117
asdf

[2021-02-20 14:50] zaiste commented on #117
asdf

[2021-02-20 14:50] zaiste commented on #117
asdf

[2021-02-20 14:54] #117 closed

[2021-03-04 14:48] zaiste opened #118 "Change `identify` to `recognize` in auth"
by @tomkuk

[2021-03-06 21:16] #118 closed

[2021-04-17 16:00] zaiste commented on #76
The database CLI has been added: https://kretes.dev/docs/guide/in-depth/cli/#commands

[2021-04-17 16:00] #76 closed

[2021-04-17 20:51] zaiste commented on #78
Global middlewares can be specified in `config/server/middlewares.ts`. It's a list that defines their execution from top to bottom.

[2021-04-17 20:51] #78 closed

[2021-04-18 19:52] #1 closed

[2021-04-18 19:53] #13 closed

[2021-04-18 19:54] #15 closed

[2021-04-18 19:54] #27 closed

[2021-04-18 20:03] #28 closed

[2021-04-18 20:04] #33 closed

[2021-04-18 20:15] zaiste commented on #32
I'll be handling that at the reverse proxy (Nginx, Caddy)

[2021-04-18 20:15] #32 closed

[2021-04-18 20:15] #35 closed

[2021-04-18 20:15] zaiste commented on #38
The docs are now available at https://kretes.dev

[2021-04-18 20:15] #38 closed

[2021-04-18 20:16] #41 closed

[2021-04-18 20:18] #102 closed

[2021-04-18 20:19] #103 closed

[2021-04-18 20:20] zaiste commented on #91
Kretes doesn't work directly in the Windows environment. To run one must use [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10)

[2021-04-18 20:20] #91 closed

[2021-08-19 12:42] vladimirdrayling opened #121 "[BUG] unable to create a project"
## Problem

Trying to create a project following the instructions on the home page.

### Error

[code]

## Expectations

A project should be created either with `npm`, `pnpx`, `yarn` or `npx`.

It didn't work with vscode.

![image](https://user-images.githubusercontent.com/16114644/130069743-d6983626-6527-4013-bb3e-4f6f485eff64.png)

## Versions

node: v14.17.4
npm: 6.14.14

Am I doing something w

[2021-08-19 12:51] vladimirdrayling commented on #121
and this is the output for the kretes latest version

[code]

[2022-05-29 07:24] jiapei100 commented on #88
Hi, @zaiste  Thank you for your hint. But now, there is **NO** `default.html`, but the file `config/default.json` is there, and its contents:

[code]

So, how and where to add your code snnpit:
[code]

Thank you very much...

[2022-05-29 22:03] jiapei100 commented on #88
@kalaikt

Got it: [https://kretes.dev/docs/tutorial/database-setup/ ](https://kretes.dev/docs/tutorial/database-setup/)
Thank you...

[2022-05-29 22:14] jiapei100 opened #123 "Unable to display the FIRST page at port 5544 ."
1. It looks everything is running good ...

[code]

2. But the website still looks like:

![https://raw.githubusercontent.com/LongerVision/Resource/master/Bugs/KretesStart_Failure.png](https://raw.githubusercontent.com/LongerVision/Resource/master/Bugs/KretesStart_Failure.png)

Any suggestions please?

[2022-08-02 14:59] seivan opened #124 "Does Kretes have a REPL/Console?"
I couldn't find it in the docs, but does Kretes have one?
I like it for prototyping purposes, like Rails and Elixir has.
Run it, it auto loads your "namespaces" so you get access to the models, and utils directly. Useful for writing tests for  queries before putting them in the app and tests.